<?xml version="1.0" encoding="UTF-8"?>

<suite name="Trello Automation Suite">

  <test name="End-to-End">

    <groups >
        <include name="login"/>
        <include name="createBoard"/>
        <include name="addList"/>
        <include name="sortList"/>
        <include name="cleanup"/>
        <include name="logout"/>
    </groups>

    <classes>
      <class name="com.trello.testscripts.TrelloTestScripts"/>
      </classes>
  </test>

</suite>
